#header,
#content,
#menu,
#footer {
    padding: 1px 0;
    margin: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    margin: 0;
}


/* HEADER*/

.page {
    width: 100%;
    height: 50px;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

header .menu-bar .logo {
    float: left;
}

header .menu-bar .menu {
    float: right;
    font-size: 15px;
    margin-top: 20px;
}

header .menu-bar .logo .titre {
    list-style: none;
    font-family: Helvetica, Arial, sans-serif;
}

header .menu-bar .logo h1 .tld {
    text-decoration: none;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    margin: 0;
}

header .menu-bar .menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

header .menu-bar .menu ul li {
    display: inline-block;
    margin: 0 25px;
}

header .menu-bar .menu ul li a {
    color: #000;
    font-family: Helvetica, Arial, sans-serif;
    text-decoration: none;
    text-transform: uppercase;
}

header .menu-bar .menu a:hover {
    color: rgb(35, 137, 221);
}

.clearfix {
    clear: both;
}


/* Contenu*/

#container {
    text-align: left;
    margin-right: auto;
    margin-left: auto;
    width: 1200px;
}

div#header {
    background-color: rgb(35, 137, 221);
    height: 50%;
    width: 100%;
}

li {
    list-style: none;
}

h1#name {
    margin: 20px;
    margin-left: 30px;
}

h2#IT {
    margin: 20px;
    margin-left: 30px;
}

h3 {
    text-align: center;
}

div#Knowledge {
    margin-left: 6px;
    margin-bottom: 40px;
}

div#Soft {
    margin-left: 6px;
    margin-bottom: 40px;
}

div#information {
    margin-left: 6px;
    margin-bottom: 40px;
}

div#sport {
    margin-left: 6px;
    margin-bottom: 40px;
}

div#Contact {
    margin-left: 6px;
}

div#content {
    height: 80%;
    width: 100%;
    text-align: left;
}

div#menu {
    float: left;
    background-color: grey;
    height: 815px;
    width: 24%;
    border: solid;
    margin-top: 22px;
}

div#training {
    background-color: rgb(35, 137, 221);
    height: 15%;
    width: 100%;
    text-align: center;
}

div#experiencespro {
    background-color: rgb(35, 137, 221);
    height: 15%;
    text-align: center;
    width: 100%;
}

p#langue {
    margin: 5px;
}


/*FOOTER*/

footer {
    width: 1200px;
    height: 70px;
    margin-right: auto;
    margin-left: auto;
    background-color: #535353;
}

footer .container {
    width: 100%;
    padding: 10px;
    padding-right: 15px;
    padding-left: 15px;
}

footer p {
    font-size: 15px;
    color: #fff;
    margin-bottom: 0px;
    margin-top: 20px;
}

.copyright {
    width: 1100px;
    margin-left: 100px;
}